{% extends 'base.html' %}

{% block content %}

<div class='px-3 py-3 bg-gray-100 rounded-sm'>
    <h3 class='text-3xl text-gray-900'>{{ listing.title }}</h3>
    <img src="{{ listing.image.url }}" >
    <p class='text-gray-900'>${{listing.price}}</p>
    <p class='text-gray-600 text-sm'>{{ listing.address}}</p>

    <div class='py-5 border-t border-gray-200'>
        <a href="/listing/{{ listing.id }}/edit/" class='text-blue-500'> edit
        </a>
        <a href="/listing/{{ listing.id }}/delete/" class='text-blue-500 ml-3'> delete
        </a>
    </div>
 

</div>

{% endblock content %}
